body, div, h1{
    margin: 0;
    padding: 0;
    border:0;
}

@font-face{
    src: url(Ailerons-Regular.otf);
    font-family:tseries;
}

body{
    text-align: center;
    font-family: Raleway, Arial;
}

header{
    height: 60px;
    background-image: linear-gradient(to right, #7F7FD5, #86A8e7, #91EAE4);
    background-size: cover;
    width:100%;
    position: fixed;
    top:0px;
    color:white;
    font-size: 30px;
    font-family: serif;
    
    
}

# container{
    margin: 0;
    padding: 0;
    border:0;
    
}


#banner{
    width:100%;
    height: 760px;
    position: fixed;
    top:60px;
    background: #707070;
    background-image:url(1.jpg);
    color: white;
    align-items: center;
    background-position: 50%;
  
    animation: slide 20s infinite;
    
    
}

@keyframes slide{
    25%{background: url(2.jpg);}
    50%{background: url(3.jpg);}
    75%{background: url(4.jpg);}
    100%{background: url(1.jpg);}

}

.content{
    width:100%;
    position: relative;
    top:1000px;
    background: #ebebeb;
    height:3100px;
    background: white;
    color:black;
    border: 0% 50%;
    
}
body div h2{
    font-size: 40px;
}


p{
    width:50%;
    text-align: center;
    left:25%;
    vertical-align: middle;
    display: block;
    position: relative;
    margin-bottom: 75px;
    font-size: 25px;
}

.about{
    transform-style: preserve-3d;
    transform: perspective(800px);
    margin-bottom: 80px;
}
.about h2{
    text-transform: uppercase;
    font-weight: 400;
}

.about h2, .about p{
    transition: all 0.8s ease;
}
.about.hidden h2{
    opacity: 0;
    transform:translate3d(0,0,400px) rotateY(-40deg);
}
.about.hidden p{
    opacity: 0;
    transform:translate3d(0,0,400px) rotateY(40deg);
}

#p2{
    background-image: linear-gradient(to right, #7F7FD5, #86A8e7, #91EAE4);
    color: white;
    margin-top: 30px;
    padding-bottom: 30px;
    
}
#game{
    margin-top: 300px;
    margin-bottom: 300px;
}
a{
    text-decoration: none;
    background-image: linear-gradient(to right, #7F7FD5, #86A8e7, #91EAE4);
    padding: 10px 30px;
    font-weight: 300;
    color: white;
    font-size:60px;
}